# Risk Analyzer

class RA:
    - attrs:
        - dataset 
        - parameter_1
        - parameter_2
    - methods
        - load_data
        - clean_data
            - get_account number
            - get_remaining_date
            - .
            - .
        - aggregation
            - *
            - *
        - plot 
            - plot_1 
            - plot_2

In [20]:
class Animal:
    def __init__(self,name, sound):
        self.name = name
        self.sound = sound
    def say(self):
        print(f'{self.name}: {self.sound}')
    def walk(self,steps):
        print(f'{self.name} is walking {steps} steps.')
    def __repr__(self):
        return f"Animal: {self.name}"

In [19]:
cat = Animal('cat', 'Meow')
# cat.say()
# cat.walk(10)
print(cat)
cat

<__main__.Animal object at 0x10df97040>

In [22]:
cat = Animal('cat', 'Meow')
# cat.say()
# cat.walk(10)
# print(cat)
cat

Animal: cat

In [34]:
dog = Animal('dog','bark')
dog.say()
# callable(doag.sayb), callable(dog.name)
# dog.nam /eb
dog.__dict__

dog: bark

{'name': 'dog', 'sound': 'bark'}

In [27]:
import pandas as pd
class HomeAnlayzer:
    def __init__(self, csv_path):
        self.csv_path = csv_path
        self.df = self.load_data()
    def load_data(self):
        df = pd.read_csv(self.csv_path)
        return df
    def mean(self):
        return self.df.mean()
    def __repr__(self):
        return "HA" #self.df.__repr__()

In [28]:
ha = HomeAnlayzer(csv_path='/Users/mehdi/Documents/git/Tasks/geophy_challenge/Housing_New_York_Units_by_Building.csv')

In [31]:
ha.__dict__

{'csv_path': '/Users/mehdi/Documents/git/Tasks/geophy_challenge/Housing_New_York_Units_by_Building.csv',
 'df':       Project ID                                Project Name  \
 0          65554                             BRIDGE ROCKAWAY
 1          69099              VOA. 1746 ANDREWS AVENUE SOUTH
 2          69567  ASLAND CAPITAL. 1940 TURNBULL AVE. PL SARA
 3          72295                                CONFIDENTIAL
 4          72179                                CONFIDENTIAL
 ...          ...                                         ...
 5793       55697                                CONFIDENTIAL
 5794       55773                                CONFIDENTIAL
 5795       57341                                CONFIDENTIAL
 5796       55647                                CONFIDENTIAL
 5797       55759                                CONFIDENTIAL

      Project Start Date Project Completion Date  Building ID Number  \
 0            03/31/2022                     NaN    1003153.0    805
 1            03/31/2022                     NaN    1002488.0   1746
 2            03/31/2022                     NaN    1003176.0   1940
 3            03/31/2022              03/31/2022          NaN   ----
 4            03/25/2022              03/25/2022          NaN   ----
 ...                 ...                     ...          ...    ...
 5793         01/14/2014              01/14/2014          NaN   ----
 5794         01/10/2014              01/10/2014          NaN   ----
 5795         01/10/2014              01/10/2014          NaN   ----
 5796         01/07/2014              01/07/2014          NaN   ----
 5797         01/03/2014              01/03/2014          NaN   ----

                     Street        Borough  Postcode           BBL  ...  \
 0          ROCKAWAY AVENUE       Brooklyn   11212.0  3.036030e+09  ...
 1     ANDREWS AVENUE SOUTH          Bronx   10453.0  2.028780e+09  ...
 2          TURNBULL AVENUE          Bronx   10473.0  2.036720e+09  ...
 3                     ----          Bronx       NaN           NaN  ...
 4                     ----       Brooklyn       NaN           NaN  ...
 ...                    ...            ...       ...           ...  ...
 5793                  ----       Brooklyn       NaN           NaN  ...
 5794                  ----  Staten Island       NaN           NaN  ...
 5795                  ----  Staten Island       NaN           NaN  ...
 5796                  ----       Brooklyn       NaN           NaN  ...
 5797                  ----         Queens       NaN           NaN  ...

       2-BR Units 3-BR Units  4-BR Units 5-BR Units 6-BR+ Units  \
 0             46         25           0          0           0
 1              1          0           0          0           0
 2              1          0           0          0           0
 3              1          0           0          0           0
 4              0          1           0          0           0
 ...          ...        ...         ...        ...         ...
 5793           0          0           0          0           0
 5794           0          0           0          0           0
 5795           0          0           0          0           0
 5796           0          0           0          0           0
 5797           0          0           0          0           0

       Unknown-BR Units  Counted Rental Units  Counted Homeownership Units  \
 0                    0                   173                            0
 1                    0                   118                            0
 2                    0                   154                            0
 3                    0                     0                            1
 4                    0                     0                            1
 ...                ...                   ...                          ...
 5793                 1                     0                            1
 5794                 1                     0                            1
 5795                 1                     0                            1
 5796                 1                     0                            1
 5797                 1                     0                            1

       All Counted Units Total Units
 0                   173         174
 1                   118         118
 2                   154         154
 3                     1           1
 4                     1           1
 ...                 ...         ...
 5793                  1           1
 5794                  1           1
 5795                  1           1
 5796                  1           1
 5797                  1           1

 [5798 rows x 41 columns]}

In [30]:
ha.mean()

<ipython-input-27-006da33c67a4>:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return self.df.mean()

Project ID                     6.241414e+04
Building ID                    5.452599e+05
Postcode                       1.078402e+04
BBL                            2.450753e+09
BIN                            2.365136e+06
Council District               2.603285e+01
Latitude                       4.074266e+01
Longitude                     -7.391960e+01
Latitude (Internal)            4.074324e+01
Longitude (Internal)          -7.391943e+01
Extremely Low Income Units     5.777854e+00
Very Low Income Units          1.054812e+01
Low Income Units               1.323508e+01
Moderate Income Units          2.167816e+00
Middle Income Units            3.640911e+00
Other Income Units             1.543636e-01
Studio Units                   5.328044e+00
1-BR Units                     1.260090e+01
2-BR Units                     1.215160e+01
3-BR Units                     4.511038e+00
4-BR Units                     3.487409e-01
5-BR Units                     1.776475e-02
6-BR+ Units                    1.000345e-02
Unknown-BR Units               5.560538e-01
Counted Rental Units           2.621404e+01
Counted Homeownership Units    9.310107e+00
All Counted Units              3.552415e+01
Total Units                    4.645033e+01
dtype: float64